
<ion-view view-title="Mexica Tours">
    <ion-nav-title>
        <img src="img/home/small-logo.png" height="42px">
    </ion-nav-title>>
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Bienvenido a Mexica Tours</strong>
        </div>
        <div class="im-wrapper">

            <div class="card">
                <div class="item item-text-wrap" style="background-color: #0E7800 !important;">
                    <h1 style="color: white; font-size: 1.5em;">Sé original! <strong>Vive el México auténtico...</strong></h1>
                </div>
            </div>

            <h2 class="border-top">
                <i class="icon ion-ios-circle-filled"></i>
                Conócenos!
            </h2>

            <p>
                Mexica Tours es una operadora chiapaneca de Tours, Paquetes y Circuitos cuya misión es dar a 
                conocer el estado de Chiapas a través de experiencias originales y divertidas que guardan un 
                alto sentido de responsabilidad en relación a las culturas locales y a su entorno natural.
            </p>
        </div>

        <div class="item item-image">    
            <img src="img/home/palenque.jpg">
            <div class="text-on-image card-title-shadow">
                <h2>Te llevamos a donde quieras</h2>
                <h3>Palenque, Chiapas</h3>
            </div>
        </div>

        <div class="im-wrapper">

            <div class="card">
                <div class="item item-text-wrap" style="background-color: #A11000 !important;">
                    <h1 style="color: white; font-size: 1.5em;">Tours con perspectiva <strong>intercultural!</strong></h1>
                </div>
            </div>

            <h2 class="border-top">
                <i class="icon ion-navigate"></i>
                Nuestros Tours!
            </h2>
            <p>
                Mexica Tours propone descubrir zonas turísticas a través de experiencias 
                y rutas que salen de lo ordinario, en donde la participación activa del 
                turista es indispensable.
            </p>
        </div>

        <div class="item item-image">    
            <img src="img/home/camioneta.png">
            <div class="text-on-image card-title-shadow">
                <h2>Tu destino ideal, sólo con nosotros</h2>
                <h3>Palenque, Chiapas</h3>
            </div>
        </div>

    </ion-content>

</ion-view>
