
<ion-view view-title="Lugares">
    <ion-content>

        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Bienvenido a Mexica Tours</strong>
        </div>
        <div class="im-wrapper">
            <h2 class="border-top">
                <i class="icon ion-information-circled"></i>
                Los mejores lugares turísticos!
            </h2>
            <p>
                No need to add new styling! Ionic Material includes all 
            </p>
        </div>

        <div class="list card">
            <div class="item item-image">    
                <img src="img/home/lagos.jpg">
                <div class="text-on-image card-title-shadow">
                    <h2>Lagos de Montebello</h2>
                    <h3>Tuesday, 5th of November 2015</h3>
                </div>
            </div>
            <div class="item item-text-wrap material-text-zone">
                <div class="fab-zone">
                    <button class="fab">Ver</button>
                </div>
                <p class="text-ellipse" style="margin-bottom: 10px">
                    L’artiste Feridun Akgüngör nous présente aujourd’hui « Minimal Pure », une série de clichés où seuls figurent des morceaux d’architectures aux lignes droites, semblant flotter au milieu d’un ciel complètement lisse, dont la clarté n’est brisée que par le passage d’un avion ou d’une horde d’oiseaux.
                </p>
            </div>

            <div class="item item-image">    
                <img src="img/home/canion.jpg">
                <div class="text-on-image card-title-shadow">
                    <h2>Cañón del sumidero</h2>
                    <h3>Tuesday, 5th of November 2015</h3>
                </div>
            </div>
            <div class="item item-text-wrap material-text-zone">
                <div class="fab-zone">
                    <button class="fab">Ver</button>
                </div>
                <p class="text-ellipse" style="margin-bottom: 10px">
                    L’artiste Feridun Akgüngör nous présente aujourd’hui « Minimal Pure », une série de clichés où seuls figurent des morceaux d’architectures aux lignes droites, semblant flotter au milieu d’un ciel complètement lisse, dont la clarté n’est brisée que par le passage d’un avion ou d’une horde d’oiseaux.
                </p>
            </div>

            <div class="item item-image">    
                <img src="img/home/san_cristobal.jpg">
                <div class="text-on-image card-title-shadow">
                    <h2>San Cristóbal de las Casas</h2>
                    <h3>Tuesday, 5th of November 2015</h3>
                </div>
            </div>
            <div class="item item-text-wrap material-text-zone">
                <div class="fab-zone">
                    <button class="fab">Ver</button>
                </div>
                <p class="text-ellipse" style="margin-bottom: 10px">
                    L’artiste Feridun Akgüngör nous présente aujourd’hui « Minimal Pure », une série de clichés où seuls figurent des morceaux d’architectures aux lignes droites, semblant flotter au milieu d’un ciel complètement lisse, dont la clarté n’est brisée que par le passage d’un avion ou d’une horde d’oiseaux.
                </p>
            </div>
        </div>

    </ion-content>
</ion-view>
